<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Formulário Autor</title>
  </head>
  <body>
    <form action="{{url_for('form')}}" method="post">
      <fieldset>
        <div class="form-group">
          <label for="name">{{form.name.label}}</label>
          {{form.name(class='form-control', id='email')}}
          {# <input type="text" id="name" name="name" class="form-control"> #}
        </div>
        <div class="form-group">
          <label for="email">{{form.email.label}}</label>
          {{form.email(class='form-control', id='email')}}
          {# <input type="text" id="email" name="email" class="form-control"> #}
        </div>
        <div class="form-group">
          <label for="website">{{form.website.label}}</label>
          {{form.website(class='form-control', id='email')}}
          {# <input type="text" id="website" name="website" class="form-control"> #}
        </div>
        <div class="form-group">
          <label for="photo">{{form.photo.label}}</label>
          {{form.photo(class='form-control', id='email')}}
          {# <input type="text" id="photo" name="photo" class="form-control"> #}
        </div>
        <div class="form-group">
          <label for="bio">{{form.bio.label}}</label>
          {{form.bio(class='form-control', id='email')}}
          {# <input type="text" id="bio" name="bio" class="form-control"> #}
        </div>
        <button type="submit" name="salvar" class="btn btn-primary btn-salvar">Salvar</button>
      </fieldset>
    </form>

  </body>
</html>
